
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '/logo/myResidence_tab.png'%}">
    <title>Bills Tracking</title>

    <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .color-scheme-bg{
          background-color: {{ request.user.accountcustomization.color_scheme }};
      }

      .color-scheme-text{
          color: {{ request.user.accountcustomization.color_scheme }};
      }
    </style>

    
    <!-- Custom styles for this template -->
      <link href="{% static '/custom/alert.css' %}" rel="stylesheet">
      <script src="{% static '/custom/alert.js' %}"></script>
     <link href="{% static '/custom/sidebars.css'%}" rel="stylesheet">
      <link href="{% static '/custom/alert2.css' %}" rel="stylesheet">

    <!-- Custom styles for table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.js"></script>

  </head>
  <body>

  {% for message in messages %}
        {% if message.tags == 'success' %}
    <div class='alert alert-success alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% elif message.tags == 'error' %}
    <div class='alert alert-danger alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% elif message.tags == 'warning' %}
    <div class='alert alert-warning alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% endif %}
    {% endfor %}

<header class="p-3 text-white color-scheme-bg" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <img src="{% static '/logo/myResidence_icon.png'%}" height="30px" style="margin-left: -125px">
          <img src="{% static '/logo/myResidence.png'%}" height="30px" style="margin-left: -5px">
        </ul>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="padding-bottom: 10px">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="py-3" title="Home" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/home.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'billings' %}" class="py-3 border-bottom" aria-current="page" title="Billings" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/billings_w.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'report_add' %}" class="py-3" title="Complaints" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/complaints.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'visitor' %}" class="py-3" title="Visitor Requests" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/vs.png'%}" height="30px" >
                </a>
            </li>
        </ul>

        <div class="text-end" style="display:flex">
          <!--div>
            <input type="image" src="../assets/icons/bell.png" height="25px" style="margin-right: 20px;margin-top:4px"/>
          </div-->
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ request.user.tenant.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong style="color: white">{{request.user.first_name}} {{request.user.last_name}}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </header>

<main style="padding:15px">

  <div class="flex-shrink-0 p-3" style="width: 220px;">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#billings-collapse" aria-expanded="true" >
          Billings
        </button>
        <div id="billings-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded" style="color:#4facfe" >Bills Tracking</a></li>
            <li><a href="{% url 'billings_history' %}" class="link-dark rounded">Billing Statement</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false" >
          Payments
        </button>
        <div class="collapse" id="payments-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'proof_history' %}" class="link-dark rounded">Proof of Payments</a></li>
            <li><a href="{% url 'payment_methods' %}" class="link-dark rounded">Payment Methods</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="b-example-divider" style="width: 0px"></div>

  <div class="container-fluid" style="padding-left:30px;margin-top: -15px">
      
    <div class="border-bottom">  
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">  
          <h2 style="margin-top: 20px;margin-bottom: 15px">Bills Tracking</h2>
        </div>

        <p class="text-muted" style="margin-top:-15px">Track Status, Submit Proof of Online Payment</p>

    </div>

      <div class="table-responsive" style="margin-top:10px">
        <table class="table table-striped table-sm" id="myTable">
          <thead>
            <tr>
              <th scope="col">Billing ID</th>
              <th scope="col">Date Issued</th>
              <th scope="col">Billing Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Due Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for dues in bills %}
            <tr>
              <td>{{ dues.billing_type.billing_name }} #{{ dues.id }}</td>
              <td>{{ dues.date_issued }}</td>
              <td>{{ dues.billing_type.billing_name }}</td>
              <td>{{ dues.billing_fee }}</td>
              <td>{{ dues.due_date }}</td>
              <td>{{ dues.status }}</td>
              <td>
                  <button type="button" class="paybtn" data-bs-toggle="modal" data-bs-target='#edit{{ dues.id }}' data-bs-whatever="@mdo" style="border: none;background: none;">
                    <img title="Send Proof of Online Payment" data-bs-toggle="tooltip" data-bs-placement="bottom" src="{% static '/icons/proof_payment_l.png'%}" height="30px">
                  </button>

                  <div class="modal fade" id="edit{{ dues.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Send Proof of Payment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form method="POST" enctype="multipart/form-data" class="needs-validation">
                                  {% csrf_token %}
                                    <div class="mb-3" >
                                        <input type="text" id="billing" name="billing" value="{{ dues.id }}" hidden>
                                        <input type="text" id="tenant" name="tenant" value="{{ request.user.tenant.id }}" hidden>
                                        <label for="image" class="form-label">Receipt <span class="text-muted">(Image)</span></label>
                                          <div class="input-group">
                                            <input type="file" class="form-control" name="image" id="image" onchange="loadFile(event)" required>
                                          </div>
                                    </div>

                                  <div class="modal-footer" style="margin-top:25px">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                              </form>
                          </div>
                        </div>
                      </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

  </div>

</main>

  <script>
      $(document).ready( function () {
          $('#myTable').DataTable({
              dom:'<"d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center div-space-t"lf>t<"d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center div-space-b"Bp>',
              buttons: [
                'print', 'excel', 'pdf'
              ],
              columnDefs: [
               { type: 'natural', targets: 0 }
             ],
             order: [[ 0, 'asc' ]]
          })
      });

      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src) // free memory
        }
      };
  </script>

    <script src="{% static '/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static '/custom/sidebars.js'%}"></script>

  </body>
</html>
