
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '/logo/myResidence_tab.png'%}">
    <title>Payment Methods</title>

    <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .color-scheme-bg{
          background-color: {{ request.user.accountcustomization.color_scheme }};
      }

      .color-scheme-text{
          color: {{ request.user.accountcustomization.color_scheme }};
      }
    </style>

    
    <!-- Custom styles for this template -->
      <link href="{% static '/custom/alert.css' %}" rel="stylesheet">
      <script src="{% static '/custom/alert.js' %}"></script>
     <link href="{% static '/custom/sidebars.css'%}" rel="stylesheet">
      <link href="{% static '/custom/alert2.css' %}" rel="stylesheet">
  </head>
  <body>

  {% for message in messages %}
        {% if message.tags == 'success' %}
    <div class='alert alert-success alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% elif message.tags == 'error' %}
    <div class='alert alert-danger alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% elif message.tags == 'warning' %}
    <div class='alert alert-warning alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
        {% endif %}
    {% endfor %}

<header class="p-3 text-white color-scheme-bg" >
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <img src="{% static '/logo/myResidence_icon.png'%}" height="30px" style="margin-left: -125px">
          <img src="{% static '/logo/myResidence.png'%}" height="30px" style="margin-left: -5px">
        </ul>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="padding-bottom: 10px">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="py-3" title="Home" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/home.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'billings' %}" class="py-3 border-bottom" aria-current="page" title="Billings" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/billings_w.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'report_add' %}" class="py-3" title="Complaints" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/complaints.png'%}" height="30px" >
                </a>
            </li>
            <li style="margin-left: 40px">
                <a href="{% url 'visitor' %}" class="py-3" title="Visitor Requests" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <img src="{% static '/icons/vs.png'%}" height="30px" >
                </a>
            </li>
        </ul>

        <div class="text-end" style="display:flex">
          <!--div>
            <input type="image" src="../assets/icons/bell.png" height="25px" style="margin-right: 20px;margin-top:4px"/>
          </div-->

            <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ request.user.tenant.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong style="color: white">{{request.user.first_name}} {{request.user.last_name}}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </header>

<main style="padding:15px">

  <div class="flex-shrink-0 p-3" style="width: 220px;">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#billings-collapse" aria-expanded="false" >
          Billings
        </button>
        <div  class="collapse" id="billings-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'billings' %}" class="link-dark rounded">Bills Tracking</a></li>
            <li><a href="{% url 'billings_history' %}" class="link-dark rounded">Billing Statement</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="true" >
          Payments
        </button>
        <div id="payments-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'proof_history' %}" class="link-dark rounded"  >Proof of Payments</a></li>
            <li><a href="#" style="color:#4facfe" class="link-dark rounded">Payment Methods</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="b-example-divider" style="width: 0px"></div>

  <div class="container-fluid" style="padding-left:30px;margin-top: -15px">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">  
        <h2 style="margin-top: 20px">Payment Methods</h2>
      </div>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="margin-top:20px">
          
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Bank</h4>
              </div>
              <div class="card-body">
                <p>Transfer your payment at
                  <br>BANK:<strong> LandBank</strong>
                  <br>ACCOUNT NAME: <strong>Landlord Name</strong>
                  <br>ACCOUNT NUMBER: <strong>0123-4567-78</strong></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">GCash</h4>
              </div>
              <div class="card-body">
                <p>Transfer your payment at
                  <br>MOBILE NUMBER: <strong>09123456789</strong>
                  <br>ACCOUNT NAME: <strong>Landlord Name</strong>
                  <br>EMAIL: <strong>landlord@gmail.com</strong></p>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Cashier</h4>
              </div>
              <div class="card-body">
                <p>Pay at the Admin's Office
                  <br>DAYS AVAILABLE: <strong>MON</strong> to <strong>SUN</strong>
                  <br>TIME AVAILABLE: <strong>8AM</strong> to <strong>6PM</strong>
                  <br>TELEPHONE NUMBER: <strong>123-4567</strong></p>
              </div>
              </div>
            </div>
            <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Inquiries</h4>
              </div>
              <div class="card-body">
                <p>Problem with your payment?</p>
                <a href="{% url 'report_add' %}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Send Report</button></a>
              </div>
              </div>
            </div>

      </div>
  </div>

</main>


    <script src="{% static '/js/bootstrap.bundle.min.js'%} "></script>

      <script src="{% static '/custom/sidebars.js'%} "></script>
  </body>
</html>
