{% load i18n static jazzmin admin_urls %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_jazzmin_settings request as jazzmin_settings %}

<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '/logo/myResidence_tab.png' %}">
    <title>myResidence Log In</title>

    <title>{% block title %}{{ title }} | {% trans 'Log in again' %}{% endblock %}</title>

<!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
      <link href="{% static '/custom/alert.css' %}" rel="stylesheet">
    <link href="{% static '/custom/login.css' %}" rel="stylesheet">
    <link href="{% static '/custom/heroes.css' %}" rel="stylesheet">
    <link href="{% static '/custom/alert2.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" style="background-image: linear-gradient(145deg, #41b766 , #a0b248); background-size: 35%; background-repeat: no-repeat;">

    {% if form.errors %}
    <div class='alert alert-primary alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
       There seems to be an error. Please try again.
    </div>
    {% endif %}

    {% for message in messages %}
    <div class='alert alert-primary alert-dismissible'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
    {% endfor %}

      <div class="container rounded-3 " style="box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.29)">

                  <div class="row center-align" style="display: table; ">

                      <div class="col-md-4 rounded-3" style="height: 500px; display: table-cell; vertical-align: middle; width: 600px; padding-right:60px ">
                        <img src="{% static '/logo/myResidence_full.png' %}" width="50%">
                        <p class="py-4" style="text-align: center;color: white;line-height: 1.3;font-size: 15px">Admin login dolor sit amet,<br>consectetur adipiscing elit, sed do<br>eiusmod tempor. </p>
                      </div>

                      <div class="col-sm-6 col-md-8" style=" display: table-cell; vertical-align: middle; " >
                          <a href="{% url 'login' %}" style="display: flex; justify-content:right; margin-top:-63px;margin-right: 5px;margin-bottom: 55px">
                              <img src="{% static 'icons/info.png' %}" height="25px" >
                          </a>

                          <main class="form-signin">

                            <form action="{{ app_path }}" method="post">
                                 {% csrf_token %}

                                <h1 class="h3 mb-3 fw-normal">Log In</h1>

                                <div class="form-floating">
                                  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                  <label for="username">Username</label>
                                </div>
                                <div class="form-floating">
                                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                  <label for="password">Password</label>
                                </div>

                                <div class="checkbox mb-3" style="margin-top:10px">
                                  <label>
                                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> Remember me
                                  </label>

                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="lsRememberMe()"
                                        style="margin-top:5px;background-color:#65cb52; border-color: transparent ">Sign in</button>
                                </form>
                          </main>
                    </div>

                </div>
      </div>

  </body>

  <script type="text/javascript">

    const rmCheck = document.getElementById("rememberMe"),
    emailInput = document.getElementById("username");

    if (localStorage.checkbox && localStorage.checkbox !== "") {
      rmCheck.setAttribute("checked", "checked");
      emailInput.value = localStorage.username;
    } else {
      rmCheck.removeAttribute("checked");
      emailInput.value = "";
    }

    function lsRememberMe() {
      if (rmCheck.checked && emailInput.value !== "") {
        localStorage.username = emailInput.value;
        localStorage.checkbox = rmCheck.value;
      } else {
        localStorage.username = "";
        localStorage.checkbox = "";
      }
    }
  </script>

      <script src="{% static '/custom/alert.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{% if jazzmin_settings.custom_js %}
<script src="{% static jazzmin_settings.custom_js %}"></script>
{% endif %}

</html>
